# Sample EPP configuration for tunning with P/D
# Use with small hash block size for simulation purposes
apiVersion: inference.networking.x-k8s.io/v1alpha1
kind: EndpointPickerConfig
featureGates:
- prepareDataPlugins
plugins:
- type: prefill-header-handler
- type: prefix-cache-scorer
  parameters:
    blockSizeTokens: 8
    autoTune: false
    maxPrefixBlocksToMatch: 256
    lruCapacityPerServer: 31250
- type: queue-scorer
- type: prefill-filter
- type: decode-filter
- type: max-score-picker
- type: pd-profile-handler
  parameters:
    primaryPort: ${PRIMARY_PORT}
    decider: 
      name: prefix-disaggregation-decider
      parameters:
        nonCachedTokens: 8 
schedulingProfiles:
- name: prefill
  plugins:
  - pluginRef: prefill-filter
  - pluginRef: max-score-picker
  - pluginRef: prefix-cache-scorer
    weight: 2
  - pluginRef: queue-scorer
    weight: 1
- name: decode
  plugins:
  - pluginRef: decode-filter
  - pluginRef: max-score-picker
  - pluginRef: prefix-cache-scorer
    weight: 2
  - pluginRef: queue-scorer
    weight: 1
